
.btn {
  background-color: rgb(82, 91, 193);
  color: rgb(227, 239, 5);
  
  padding: 1px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 812px;
  margin: 30px auto;
}



.principal2  {
  text-align: center;
  
}


body { background-color: orange;}
.container h1 {
  color: rgb(246, 255, 0);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: rgb(83, 125, 150);
  max-width: 1000px;
  margin: 0 auto;
  padding: 200px;
  background-image: url("../img/6.jpg");
  background-size: cover;
  background-position: center;
  
  
}
.container2 {
  color: rgb(246, 255, 0);
  font-family:Georgia, 'Times New Roman', Times, serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.campo {
  
  
  width: 20%;
  
  padding: 100px;
}



footer{
  background-color: rgb(99, 83, 150);
  color: rgb(110, 12, 12);
  display: flex;
  justify-content: center;
  padding: 1%;
}

.principal {
 
  background-color: rgb(83, 150, 110);
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.gallery {
  
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


