{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}test{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Cabañas Tralcapulli</h1>
        <a href="{% url 'base.html' %}" class="btn">INICIO</a>
        <a href="{% url 'main.html' %}" class="btn">IMÁGENES</a>
        <a href="{% url 'agenda.html' %}" class="btn">AGENDA TU HORA</a>
        <div class="campo" >
             
        </div>
       

        <div class="container2">
            <h2>Bienvenido a Cabañas Tralcapulli</h2>
            <p>Disfruta de la naturaleza y la tranquilidad en nuestras cabañas.</p>
            <p>Contamos con todas las comodidades para que tu estadía sea inolvidable.</p>
            <p>Reserva ahora y vive una experiencia única en el corazón de la naturaleza.</p>
        </div>    
    </div>

    <div>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    
</body>
{% include 'footer.html' %}
</html>